[Unit]
Description=flask app service - App con flask y Gunicorn
After=network.target
[Service]
User=vagrant
Group=www-data
Environment="PATH=/home/vagrant/.local/share/virtualenvs/prueba-6ukuHTx7/bin/gunicorn"
WorkingDirectory=/var/www/prueba
ExecStart=/home/vagrant/.local/share/virtualenvs/prueba-6ukuHTx7/bin/gunicorn --workers 3 --bind unix:/var/www/prueba/app.sock wsgi:prueba
[Install]
WantedBy=multi-user.target

